@model Crud.App.Application.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = @Model.Nome;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
</div>


<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Telefone.Length > 10)
                {
                    @Html.DisplayName(long.Parse(Model.Telefone).ToString(@"(00) 00000-0000"));
                }
                else
                {
                    @Html.DisplayName(long.Parse(Model.Telefone).ToString(@"(00) 0000-0000"));
                }
            }
        </dd>
    </dl>

    <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
</div>